.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-wrapper {
  width: 75%;
  display: flex;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
  display: block;
}

.about-introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-details {
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about-bullet-points ul {
  padding-left: 0;
}

.about-bullet-points button {
  margin-top: 20px;
}

.about-bullet-points li {
  list-style-type: none;
  margin: 0;
  line-height: 0.6;
}

.about-bullet-points li::before {
  content: '•';
  color: var(--dark-orange);
  margin-right: 10px;
  font-size: 40px;
  vertical-align: middle;
}
